<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <%- include ('partials/head.html')%>
</head>

<body>   
    <%- include ('partials/navigation.html')%>
    <div class="container">
        <header class="row">
            <div class="col-lg-12 text-center">
                <img src="img/logo-tp5.png" class="animate__animated animate__bounceIn" alt="Logo TP">
            </div>
        </header>
    </div>
    <!-- ABOUT-->
    <div class="container-fluid" id="about">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="col-sm-6">
                <i class="fas fa-cogs fa-8x"></i>
            </div>
            <div class="col-sm-6">
                <h3>Ser partners, es cumplir las metas juntos</h3>
                <p>Llevamos más de 10 años transformando las necesidades de nuestros clientes en soluciones tecnológicas, logrando que optimicen recursos y procesos en sus hogares y negocios.</p>
            </div>
        </div>
    </div>
    <%- include ('partials/footer.html')%>
</body>

</html>